body {
  font-family: "roboto", sans-serif;
  background: #ffffff;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-header {
  color: #000000;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}
.header-male {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.main-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.about-company {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;

  color: #212121;
}
.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.about-desroption {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: #757575;
}
.team {
  background: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;

  color: #212121;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: #212121;
}
.position {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;

  color: #757575;
}
.border-team {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.location {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: #ffffff;
}
.contact {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px;

  background: #2f303a;
}
.project-btn {
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.project-btn:hover,
.project-btn:focus {
  background: #2196f3;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.project-descroption {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.project-border {
  background: #ffffff;
  border: 1px solid #eeeeee;
}
